<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src="../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>

  <div class="col-md-6">
	<form class="row g-3" [formGroup]="form">
		<div class="pb-2 d-block d-md-none">
			<h3 class="border-bottom">Cadastro de Usuário</h3>
		</div>

		<div class="col-md-6">
		  <label for="inputPrimeiroNome" class="form-label">Primeiro Nome:</label>
		  <input type="text"
		  class="form-control"
		  [ngClass]="{'is-invalid': f.firstName.errors && f.firstName.touched}"
		  id="inputPrimeiroNome"
		  placeholder="Insira o primeiro nome"
		  formControlName="firstName">
		  <div class="invalid-feedback" *ngIf="f.firstName.errors?.required">
			Campo obrigatório
		  </div>
		  <div class="invalid-feedback" *ngIf="f.firstName.errors?.maxlength">
			Limite de caracteres: 20
		  </div>
		  <div class="invalid-feedback" *ngIf="f.firstName.errors?.minlength">
			Minimo de caracteres: 2
		  </div>
		</div>
		<div class="col-md-6">
		  <label for="inputUltimoNome" class="form-label">Ultimo Nome:</label>
		  <input type="text"
		  class="form-control"
		  [ngClass]="{'is-invalid': f.lastName.errors && f.lastName.touched}"
		  id="inputUltimoNome"
		  placeholder="Insira o último nome"
		  formControlName="lastName">
		  <div class="invalid-feedback" *ngIf="f.lastName.errors?.required">
			Campo obrigatório
		  </div>
		  <div class="invalid-feedback" *ngIf="f.lastName.errors?.maxlength">
			Limite de caracteres: 20
		  </div>
		  <div class="invalid-feedback" *ngIf="f.lastName.errors?.minlength">
			Minimo de caracteres: 2
		  </div>
		</div>

		<div class="col-12">
		  <label for="inputEmail" class="form-label">Email:</label>
		  <input type="email"
		  class="form-control"
		  [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
		  id="inputEmail"
		  placeholder="Insira o email"
		  formControlName="email">
		  <div class="invalid-feedback" *ngIf="f.email.errors?.required">
			Campo obrigatório
		  </div>
		  <div class="invalid-feedback" *ngIf="f.email.errors?.email">
			Email inválido
		  </div>
		</div>

		<div class="col-12">
		  <label for="inputNomeUsuario" class="form-label">Usuario:</label>
		  <input type="text"
		  class="form-control"
		  [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}"
		  id="inputNomeUsuario"
		  placeholder="Digite o nome de Usuário"
		  formControlName="userName">
		  <div class="invalid-feedback" *ngIf="f.userName.errors?.required">
			Campo obrigatório
		  </div>
		  <div class="invalid-feedback" *ngIf="f.userName.errors?.maxlength">
			Limite de caracteres: 20
		  </div>
		  <div class="invalid-feedback" *ngIf="f.userName.errors?.minlength">
			Minimo de caracteres: 4
		  </div>
		</div>

		<div class="col-md-6">
		  <label for="inputSenha" class="form-label">Senha:</label>
		  <input type="password"
		  class="form-control"
		  [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"
		  id="inputSenha"
		  placeholder="Senha"
		  formControlName="password">
		  <div class="invalid-feedback" *ngIf="f.password.errors?.required">
			Campo obrigatório
		  </div>
		  <div class="invalid-feedback" *ngIf="f.password.errors?.maxlength">
			Limite de caracteres: 16
		  </div>
		  <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">
			Minimo de caracteres: 8
		  </div>
		</div>
		<div class="col-md-6">
		  <label for="inputConfimarSenha" class="form-label">Confirmar Senha:</label>
		  <input type="password"
		  class="form-control"
		  [ngClass]="{'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched}"
		  id="inputConfimarSenha"
		  placeholder="Digite novamente sua senha"
		  formControlName="confirmPassword">
		  <div class="invalid-feedback" *ngIf="f.confirmPassword.errors?.required">
			Confirmação da Senha é obrigatória
		  </div>
		  <div class="invalid-feedback" *ngIf="f.confirmPassword.errors?.mustMatch">
			A senhas devem ser iguais
		  </div>
		</div>

		<div class="col-12">
		  <div class="form-check">
			<input
			class="form-check-input"
			[ngClass]="{'is-invalid': f.termUse.errors && f.termUse.touched}"
			type="checkbox"
			id="gridCheck"
			formControlName="termUse">
			<label class="form-check-label" for="gridCheck">
				Eu concordo com os <a href="#" class="text-decoration-none">Termos de Uso</a>.
			</label>
		  </div>
		  <div class="invalid-feedback" *ngIf="f.termUse.errors?.required">
			Campo obrigatório
		  </div>
		</div>

		<div class="col-12 d-grid gap-2">
		  <button type="submit" class="btn btn-success btn-lg btn-block px-5" [disabled]="!form.valid">Registrar</button>
		</div>
		  <div class="form-row">
			<div class="form-group col-12 text-center">
			  <a class="btn btn-link btn-block text-decoration-none" [routerLink]="['/user/login']" routerLinkActive="router-link-active" (click)="resetForm()"> Já sou Cadastrado </a>
			</div>
		  </div>
	  </form>

  </div>
</div>
