
<div class="card rounded shadow-sm">
    <form class="row g-3 p-3" [formGroup]="form">
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Tema</label>
          <input type="email" class="form-control" 
          [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}"
          id="inputEmail4"
          formControlName="tema"
          placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback" >
            Tema é obrigatório.
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve conter mais de 4 letras.
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve conter menos de 50 letras.
          </div>
        </div>

        <div class="col-md-8">
          <label for="inputPassword4" class="form-label">Local</label>
          <input type="text" class="form-control" 
          [ngClass]="{'is-invalid': f.local.errors && f.local.touched}"
          id="inputPassword4"
          formControlName="local"
          placeholder="Cidade - UF">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback" >
            Local é obrigatório.
          </div>
        </div>

        <div class="col-4">
          <label for="inputAddress" class="form-label">Data e Hora</label>
          <input type="datetime" class="form-control" 
          [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}"
          id="inputAddress"
          formControlName="dataEvento"
          placeholder="00:00">
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback" >
            Data e hora é obrigatório.
          </div>
        </div>

        <div class="col-2">
          <label for="inputAddress2" class="form-label">Qtd Pessoas</label>
          <input type="number" class="form-control" 
          [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched}"
          id="inputAddress2"
          formControlName="qtdPessoas"
          placeholder="0">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback" >
            Quantidade de Pessoas é obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback" >
            Limite de pessoas: 120000.
          </div>
        </div>

        <div class="col-md-2">
          <label for="inputCity" class="form-label">Telefone</label>
          <input type="number" class="form-control" 
          [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}"
          id="inputCity"
          formControlName="telefone"
          placeholder="(00) 9999-9999"
        step="any"
          >
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback" >
            Telefone é obrigatório.
          </div>
        </div>

        <div class="col-md-4">
          <label for="inputCity" class="form-label">Email</label>
          <input type="text" class="form-control" 
          [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
          id="inputCity"
          formControlName="email"
          placeholder="E-mail@exemple.com">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback" >
            E-mail é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback" >
            Formato de E-mail inválido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="inputCity" class="form-label">Imagem</label>
          <input type="text" class="form-control" 
          [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched}"
          id="inputCity"
          formControlName="imagemURL"
          placeholder="Imagem">
          <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback" >
            A imagem é obrigatória.
          </div>
        </div>

        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary me-auto border" (click)="resetForm()">
                    Cancelar Alteração
                </button>
                <button class="btn btn-success" [disabled]="!form.valid">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Salvar Evento
                </button>
            </div>
        </div>
    </form>
</div>

